body {
  background-color: gray;
  font-family: "Arial", "Verdana";
}
                               /*ХЕДЕР*/
.box {
  width: 910px;
  height: 100%;
  margin: 0 auto;
  position: relative;
  padding-left: 45px;
  padding-right: 45px;
  background-color: white;
}
header {
  padding-top: 18px;
}
header h1{
  margin-top: 2px;
  margin-left: 6px;
  font-size: 18px;
  float: left;
  font-family: arial;
  color: #5e696d;
}
.login {
  height: 25px;
  width: 494px;
  margin: 0 15px 10px 314px;
  border-radius: 3px;
  background-color: #13476a;
  box-shadow: 2px 3px 3px #13476a;
  font-size: 12px;
  line-height: 25px;
}
.login li {
  padding-left: 3px;
  display: inline-block;
}
.login input {
  width: 110px;
  font-size: 12px;
}
.login button {
  background: none;
  border: none;
  color: white;
  font-size: 11px;
}
.login a {
  color: white;
  font-size: 12px;
}
.login li:last-child {
  text-decoration: underline;
}
.login li:nth-child(4) {
  border-left: 1px solid white;
}
.icon {
  width: 78px;
  height: 20px;
  margin-right: 5px;
  float: right;
  border: 1px solid #c1c8cb;
  border-radius: 10px;
  text-align: center;
  line-height: 12px;
}
                                  /*НАВ МЕНЮ*/
.menu {
  height: 33px;
  margin-top: 7px;
  padding-left: 135px;
  background: linear-gradient(to top, #020202, #4d5663);
  box-shadow: 1px 3px 3px #0a1030;
  border-radius: 5px;
  line-height: 34px;
  font-size: 14px;
}
.menu li {
  padding-left: 12px;
  padding-right: 13px;
  display: inline-block;
}
.menu li:last-child {
  padding-left: 58px;
  font-size: 12px;
  color: #b1bcc0;
}
.menu li:last-child a {
  font-size: 14px;
  color: #0d5a8f;
}
.menu li:hover {
  background-color: #175173;
  border-radius: 20px;
}
.menu a:hover {
  text-decoration: none;
}
.menu li:last-child:hover {
  background: linear-gradient(to top, #020202, #4d5663);
}
.menu img {
  vertical-align: middle;
}
.menu a {
  color: #b1bcc0;
}
                                  /*ФОРМЫ*/
                                  /*№1*/
.form {
  margin-top: 11px;
  height: 150px;
}
.auto {
  position: relative;
  width: 396px;
  height: 128px;
  margin-bottom: 15px;
  margin-left: 4px;
  padding-left: 17px;
  padding-top: 5px;
  float: left;
  border: 1px solid #b4b5b6;
  border-radius: 18px;
  box-shadow: 3px 4px 5px #b4b5b6;
  font-size: 10px;
  line-height: 5px;
  font-family: Arial;
}
.auto select {
  width: 100px;
}
.auto1 {
  width: 183px;
  position: absolute;
  float: right;
  margin-right: 7px;
  padding-bottom: 8px;
  top: 20px;
  right: 0px;
}
.auto_search {
  padding-left: 4px;
  font-size: 11px;
  color: #154468;
  font-weight: bold;
}
.auto_search1 {
  padding-left: 67px;
  font-size: 14px;
  font-weight: bold;
  color: #154468;
}
.auto_search2 {
  padding-left: 67px;
  font-size: 11px;
  font-weight: bold;
  color: #154468;
}
.auto a {
  display: block;
  padding-left: 119px;
  padding-top: 10px;
  font-size: 15px;
  font-style: italic;
  text-decoration: underline;
  color: #154467;
}
.text {
  font-size: 8px;
  color: #77858b;
}
.model1 {
  padding-top: 9px;
  font-size: 10px;
}
.model1 select {
  margin-left: 25px;
}
.marka1 {
  padding-top: 4px;
}
.marka1 select {
  margin-left: 30px;
  margin-top: -6px;
}
.year1 {
  padding-top: 5px;
}
.year1 select {
  width: 57px;
  margin-left: 30px;
  margin-bottom: -2px;
  margin-top: -6px;
}
.equip {
  padding-top: 1px;
}
.equip select {
  margin-left: 6px;
  margin-top: 4px;
}
.model2 {

}
.model2 select {
  margin-top: -2px;
  margin-left: 24px;
}
.marka2 {
  padding-top: 8px;
  line-height: 0px;
}
.marka2 select {
  margin-left: 29px;
  margin-top: -6px;
}
.year2 {
  padding-top: 8px;
  line-height: 0;
}
.year2 select {
  width: 56px;
  margin-left: 29px;
  margin-top: -4px;
}
.equip2 {
  padding-top: 3px;
}
.equip2 select {
  margin-left: 5px;
}
                                 /*№2*/
.tire {
  width: 186px;
  height: 135px;
  display: inline-block;
  float: right;
  margin: 0px 5px 0 15px;
  padding-left: 4px;
  float: left;
  border: 1px solid #b4b5b6;
  border-radius: 20px;
  box-shadow: 3px 4px 5px #b4b5b6;
  font-size: 10px;
}
.tire input[type="button"] {
  background: none;
  border: none;
  padding-left: 118px;
  margin-top: -25px;
  text-decoration: underline;
  color: #154467;
  font-size: 14px;
  font-style: italic;
  font-family: Arial;
}
.size select {
  width: 50px;
  margin-left: 5px;
  margin-top: 4px;
  height: 17px;
}
.size {
  display: inline-block;
}
.tire p {
  padding-left: 3px;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  color: #114165;
}
.radius span {
  margin-left: 39px;
  vertical-align: text-top;
  font-size: 11px;
}
.radius select {
  width: 45px;
  margin-top: 5px;
  margin-left: 3px;
  height: 17px;
}
.season {
  margin-left: 49px;
  margin-top: -13px;
  line-height: 11px;
  font-size: 11px;
}
.size span {
  display: inline-block;
  margin-left: 8px;
  vertical-align: text-top;
  font-size: 10px;
}
.season1 {
  margin-left: 10px;
  font-size: 10px;
}
.season input[type="checkbox"] {
  width: 11px;
  height: 11px;
}
                             /*№ 3*/
.disk {
  width: 251px;
  height: 133px;
  margin-left: 5px;
  margin-top: -1px;
  padding-left: 15px;
  float: left;
  border: 1px solid #b4b5b6;
  border-radius: 15px;
  box-shadow: 3px 4px 5px #b4b5b6;
  font-size: 11px;
  line-height: 5px;
  }
.disk h5 {
  display: block;
  text-align: left;
  font-weight: bold;
  color: #114165;
  font-size: 13px;
  margin-left: -6px;
  margin-top: -5px;
  line-height: 21px;
}
.disk h6 {
  display: inline;
  font-size: 11px;
  line-height: 10px;
  color: black;
}
.col1 {
  width: 160px;
  margin-top: 4px;
  display: inline-block;
  border-right: 1px solid #bdc6ca;
}
.disk p {
  display: inline;
  line-height: 10px;
  color: #77858b;
}
.col2 {
  margin-top: 7px;
  display: block;
  width: 80px;
  float: right;
  line-height: 0px;
  margin-left: 10px;
}
.disk input[type="button"] {
  background: none;
  border: none;
  padding-left: 183px;
  font-size: 14px;
  font-style: italic;
  text-align: left;
  text-decoration: underline;
  color: #154467;
}
.disk select {
  width: 60px;
  height: 18px;
  display: inline-block;
  font-size: 11px;
  margin: 12px 10px 1px 0px;
}
#rp1,#rp2 {
  font-size: 9px;
  line-height: 7px;
}
#diam1 {
  width: 58px;
  height: 17px;
  margin: 2px 1px 1px 2px;
}
#amt1 {
  width: 52px;
  height: 18px;
  margin: -9px 1px 1px 32px;
}
#diam_01 {
  width: 59px;
  height: 18px;
  margin: -28px 1px 1px 32px;
}
#hole1 {
  width: 59px;
  height: 16px;
  margin: 5px 1px 1px 0px;
}
#sortie1 {
  width: 55px;
  height: 16px;
  margin: 1px 1px 1px 20px;
}
                         /*ЛЕВАЯ КОЛОНКА*/
.catalog {
  width: 186px;
  margin-top: 5px;
  margin-left: -2px;
  float: left;
}
.catalog h2 {
  height: 28px;
  margin-bottom: 12px;
  padding-left: 15px;
  background-image: url(../img/razdel.png);
  font-size: 11px;
  font-weight: bold;
  line-height: 24px;
  text-align: center;
  color: #114165;
  display: block;
  background-repeat: no-repeat;
}
.catalog ul {
  margin-left: 2px;
}
.prod {
  width: 147px;
  padding-left: 30px;
  background-image: url(../img/tip.png);
  background-repeat: no-repeat;
  font-size: 14px;
  font-weight: bold;
  line-height: 28px;
  color: #206988;
}
.name {
  margin-left: 47px;
  line-height: 25px;
  display: list-item;
  list-style: circle;
  font-size: 13px;
  color: #206988;
}
.name a {
  color: #465961;
}
.name a:hover {
  color: #0c3256;
  font-style: italic;
  font-weight: bold;
}
                       /*ПРАВАЯ КОЛОНКА*/
.brand {
  width: 185px;
  float: right;
}
.brand h2 {
  margin-top: 3px;
  margin-bottom: 12px;
  padding-left: 30px;
  background-image: url(../img/razdel.png);
  background-repeat: no-repeat;
  font-size: 12px;
  font-weight: bold;
  line-height: 28px;
  color: #114165;
}
.brand img {
  vertical-align: middle;
}
.br1 {
  width: 150px;
  margin-left: 16px;
  margin-top: 9px;
  padding-left: 30px;
  background-image: url(../img/tip2.png);
  background-repeat: no-repeat;
  font-size: 14px;
  font-weight: bold;
  line-height: 29px;
  color: #206988;
}
.br2 input {
  width: 15px;
  height: 11px;
  color: #114165;
}
.br2 {
  padding-left: 22px;
  line-height: 26px;
  font-size:  14px;
  color: #206988;
}
.br3 input[type="submit"] {
  background: none;
  border: none;
  color: white;
  font-size: 12px;
  line-height: 25px;
}
.br3 {
  width: 80px;
  height: 25px;
  margin-left: 26px;
  margin-top: 13px;
  border-radius: 12px;
  text-align: center;
  background-color: #0e3a5e;
}
                                   /*КОНТЕНТ*/
.product {
  width: 510px;
  margin-left: 191px;
  padding: 13px 8px 6px 8px;
  text-align: left;
  background: linear-gradient(to top, #93a7b0, #e5e7e8);
}
.product figure {
  margin: 0px 11px 20px 14px;
  text-align: center;
  display: inline-block;
}
.product h3 {
  display: block;
  margin-bottom: -4px;
  color: #206988;
  font-weight: bold;
  font-size: 14px;
}
.product h2 {
  margin-bottom: -2px;
  display: block;
  font-weight: bold;
  font-size: 11px;
}
.product figcaption {
  margin-top: 4px;
  padding-left: 10px;
  display: block;
  font-family: arial;
  font-style: italic;
  font-weight: bold;
  font-size: 17px;
  color: #114165;
}
.product h4 {
  display: inline;
  font-family: arial;
  font-style: italic;
  font-weight: bold;
  font-size: 12px;
  color: #114165;
}
                            /*БРЕНД ЛОГО*/
.brandlogo {
  text-align: center;
  margin-top: 34px;
  margin-bottom: 23px;
}
                              /*ФУТЕР*/
footer {
  left: 0;
  bottom: 0;
  height: 102px;
  width: 910px;
  margin-right: 45px;
  text-align: center;
  background-color: #213a4d;
}
.map li {
  display: inline-block;
  margin-top: 10px;
  padding-left: 9px;
  padding-right: 9px;
  font-size: 13px;
}
.map a {
  color: #818f97;
  text-decoration: none;
}
.map a:hover {
  color: #52abcb;
}
.map li:nth-child(1) {
  border-right: 2px solid #8d989f;
}
.map li:nth-child(2) {
  border-right: 2px solid #8d989f;
}
.map li:nth-child(3) {
  border-right: 2px solid #8d989f;
}
.map p {
  color: #7f4740;
  margin-top: 15px;
}
